grant {
  	permission java.security.AllPermission;
	permission java.net.SocketPermission "127.0.0.1:1099", "connect, resolve";
	permission java.net.SocketPermission "localhost:1024-65535", "accept, connect";
	permission java.net.SocketPermission "*:80", "connect";
};